li {
    list-style: none;
    margin: 20px;
}

li a {
    color: rgb(128, 77, 0);
    text-decoration: none;
    border-radius: 8px;
    background-color: grey;
}

li a:hover{
    background: orange;
}

li a:active{
    background: red;
    color: wheat;
}